/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* reset stuff */
*,
::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sets 1rem to 10px */
html {
  font-size: 62.5%;
}

:root {
  --white: #FFFFFF;
  --black: #000000;

  --gray-100: #EAECEF;
  --gray-200: #3E4147;
  --gray-300: #161819;

  --orange-100: #E36E40;
  --orange-200: #CC4425;
  --orange-300: #9e2e15;

  --blue-100: #8EF2FF;
  --blue-200: #407899;
  --blue-300: #204051;

  --purple-100: #9B7AA0;
  --purple-200: #694D75;
  --purple-300: #4B3652;

  --error: #DC3545;
  --success: #28A745;
  --warning: #FFC107;

  --accent: rgba(0, 214, 170, 0.8);

  --font-playfair-display: 'Playfair Display', serif;
  --font-georgia: Georgia, 'Times New Roman', Times, serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

/* layout */
.container {
  width: min(80rem, 90%);
  padding: 3rem;
  background-color: var(--gray-100);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  margin: 5rem auto;
}

.highlight-text {
  border-left: 0.3rem solid var(--orange-100);
  padding-left: 2rem;
  margin: 1rem 0;
}

/* typography */
h1, h2, h3, h4, h5 {
  font-family: var(--font-playfair-display);
}

p, a, span, li {
  font-family: var(--font-georgia);
  letter-spacing: 0.3px;
  line-height: 23px;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* navbar */
header {
  background-color: var(--accent);
}

.logo {
  font-family: var(--font-raleway);
  font-size: 1.6rem;
  padding: 0.6rem 1.5rem;
  border: 1px solid var(--black);
}
.logo:hover {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  transition: ease-in-out 200ms;
}

nav {
	font-family: var(--font-raleway);
  display: flex;
  font-weight: 400;
  text-transform: uppercase;

  width: min(80rem, 90%);
  padding: 1.5rem;
  margin: auto;
}

nav ul {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

nav li {
  list-style: none;
}

nav li a {
  font-family: var(--font-raleway);
  position: relative;
  text-decoration: none;
  padding: 0.5rem;
  color: var(--black);
}

nav li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  left: 0;
  right: 0;
  bottom: -0.3rem;
  opacity: 0;
}
nav li a:hover::after {
  cursor: pointer;
  opacity: 1;
  transition: ease-in-out 200ms;
}

/* Buttons */
.btn {
  font-family: var(--font-raleway);
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0.7rem 1.4rem;
  border: none;
  color: var(--white);
  transition: all ease-in-out 200ms;
}

.btn-orange {
  background: var(--orange-100);
  border: 1px solid var(--orange-100);
}
.btn-orange:hover {
  cursor: pointer;
  background: var(--orange-200);
  border: 1px solid var(--orange-200);
}

.btn-orange-outline {
  background: transparent;
  color: var(--orange-200);
  border: 1px solid var(--orange-200);
}
.btn-orange-outline:hover {
  cursor: pointer;
  background: var(--orange-200);
  color: var(--white);
}

.buttons-place {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

/* form elements */
input, select {
  border: none;
  font-size: 1.4rem;
  font-family: var(--font-raleway);
  border-radius: 0.3rem;
  outline: 1px solid var(--gray-200);
  padding: 0.2rem 0.4rem;
}
input:focus, select:focus {
  outline: 2px solid var(--blue-200);
}

input.error, select.error {
  outline: 2px solid var(--error);
}

.form-item {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.form-item label {
  flex-basis: 15%;
}

.form-item input, .form-item select {
  width: 25rem;
}

.validation-error {
  color: var(--error);
  font-size: 1rem;
  margin-left: 15%;
  margin-top: -1rem;
}
